body {
 background-image: url("./wallpaper.jpg");  
 background-repeat: no-repeat;
 background-size: cover;
}    

.boxContainer {
    margin: 100px 100px;
    text-align: center;
    font-family: "Playfair Display" , serif;
    font-weight: medium;
    font-style: italic;
    font-size: 100px;
}

.description {
    color: #9d801e;
    text-align: center;
}
#aboutUsTitle {
    font-family: "Playfair Display" , serif;
    font-weight: medium;
    font-style: italic;
    font-size: 100px;
}

/*
.borderLine {
    background-color: hotpink;
    padding: 8px;
}
*/

