body {
 background-image: url("./wallpaper.jpg");  
 background-repeat: no-repeat;
 background-size: cover;
}    

/*Homepage*/
.boxContainer {
    margin: 100px 100px;
    text-align: center;
    font-family: "Playfair Display" , serif;
    font-weight: medium;
    font-style: italic;
    font-size: 100px;
}

/*About Us*/


.description {
    
    color:#5f4e12;
    text-align: center;
    font-weight:light;
    font-family: "Playfair Display" , serif;
    font-size: large;
  
}

#aboutUsTitle {
    text-decoration: underline;
    font-family: "Playfair Display" , serif;
    font-weight: medium;
    font-style: italic;
    font-size: 100px;
}




